HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Allure ###
.allure

### Logs ###
*.log

### Mac OS ###
.DS_Store